/* Basic settings */
body, input, select{
  font-family: "Meiryo", "MS Gothic", monospace;
  font-size: 16px;
}

#list_sections input{
  font-family: "Meiryo", "MS Gothic", monospace;
  font-size: 12px;
  height: 24px;
}

textarea{
  font-family: "Meiryo", "MS Gothic", monospace;
  font-size: 14px;
}

/* Layer */
.layer{
  visibility: hidden;
  position: absolute;
  left: 8px; top: 80px;
  width: 720px; height: 640px;
  border: 1px #cccccc solid;
  padding: 8px 12px;
}
/* Centered */
.center{
  text-align: center;
}
/* Small letters */
.small{
  font-size: 12px;
}

#title{
  font-size: 24px;
  font-weight: bold;
  font-family: "Meiryo", "MS Gothic", monospace;
}
#list_sections{
  background-color: #eef4ff;
  height: 1720px;
}
#list_problems{
  background-color: #eef4ff;
}
#perform{
  background-color: #eef4ff;
}
#preferences{
  background-color: #eef4ff;
}

.clear{
  display:none;
  width:17px;
  height:17px;
}